sudo: required

language: go
go_import_path: github.com/pravega/pravega-operator
go:
  - '1.13.8'

env:
  global:
    - secure: "X4zdixrmuh/D4WwJ6btu0fJROq7fTPO5n4/jeyoxTQvrpwikycwf3ZpXS94u43rHx1ovc8vweVIc4Kur7MFAJDmFpPz5adjD7cCjqaRHo+Sw4a/gdNKizFEmZEBFlelynJ+cYekfF3rIFRws+u/8yWUQnSPl4495Qq1NKjrDTqoB6ZrQDxYdIPPpLAit+Aj9a2zQ4xPHyOv02SmfgL22wQhOx8SF78VNmqVah6klC8j3tAemHJQSBmUQ2fPVBpqAy3YsI7mpF9aSdBOzr7Dk1/cajOx4M5WrAxDPZ7+fSKD97SjICKqtM6MuX63O6Tg86zzdoEdvTWvwBwjWpbI3iCytJOCD8vT1QBPd9bLwZI7K5dElrW990HGrBBS4GmKTFykEE6PCNvxDHu1pG4N0vmLhZ3Hh4evZxA8xSnHRyYTLOaDkSe/vurlmsRJiW0GOEa6Fyz+xrD5y4l5MDkPVvaEPzWFZQf8v+l3OvvDvmHmqup4ADXE/XBYbVraTn8wPcQnvk5ueCvJWBOd/E4keGFsGbqDxQpvQRG/8aHWv32lj2HHK6/qbihXvTfJfRbrWli2BV0LMBL/OBIiuL1JeXycYZG3AtbnwgJVXPzs8kpwrmxkRYvbb3Kc9HXu9x+ajeWDYb978Rq6/0DfXhKFIiLrgUOxR2SK6eHDTcfUY+us="

stages:
  - check
  - unit
  - e2e
  - deploy

jobs:
  include:
    - stage: check
      name: Gofmt and License checks
      script:
        - make check

    - stage: unit
      name: Unit tests
      env:
        - HELM_VERSION=v2.12.0
        - DEP_VERSION=v0.5.0
      install:
        - curl -Lo dep https://github.com/golang/dep/releases/download/$DEP_VERSION/dep-linux-amd64 && chmod +x dep && sudo mv dep /usr/local/bin/
        - curl -Lo helm.tar.gz https://storage.googleapis.com/kubernetes-helm/helm-$HELM_VERSION-linux-amd64.tar.gz && tar xfz helm.tar.gz && sudo mv linux-amd64/{helm,tiller} /usr/local/bin/
      before_script:
        - helm init --client-only
      script:
        - make test-unit
      after_success:
      - bash <(curl -s https://codecov.io/bash)

    - stage: e2e
      name: End-to-end tests
      services:
        - docker
      env:
        - KUBECTL_VERSION=v1.15.0
        - OPERATOR_SDK_VERSION=v0.17.0
        - HELM_VERSION=v2.12.0
        - DEP_VERSION=v0.5.0
        - CLUSTER_NAME="pravega-operator-travis-$(date +'%Y%m%d%H%M%S')"
      install:
        - curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/$KUBECTL_VERSION/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
        - curl -O -L http://downloads.sourceforge.net/project/sshpass/sshpass/1.06/sshpass-1.06.tar.gz && tar xvzf sshpass-1.06.tar.gz &&  cd sshpass-1.06 && ./configure && sudo make install
        - curl -Lo dep https://github.com/golang/dep/releases/download/$DEP_VERSION/dep-linux-amd64 && chmod +x dep && sudo mv dep /usr/local/bin/
        - curl -Lo operator-sdk https://github.com/operator-framework/operator-sdk/releases/download/$OPERATOR_SDK_VERSION/operator-sdk-$OPERATOR_SDK_VERSION-x86_64-linux-gnu && chmod +x operator-sdk && sudo mv operator-sdk /usr/local/bin/
        - curl -Lo helm.tar.gz https://storage.googleapis.com/kubernetes-helm/helm-$HELM_VERSION-linux-amd64.tar.gz && tar xfz helm.tar.gz && sudo mv linux-amd64/{helm,tiller} /usr/local/bin/
      before_script:
        - export PACKET_TOKEN=qD8sD5RmExZFcRpQo2hBXi2FNyAFkA31
        - curl -Lo packet-cli  https://github.com/packethost/packet-cli/releases/download/0.0.7/packet-linux-amd64 && chmod +x packet-cli && sudo mv packet-cli /usr/local/bin/
        - packet-cli device create  -H  $CLUSTER_NAME  -o "ubuntu_20_04" -P c1.small.x86 -p 454b8b42-33d3-4e7e-8acf-1d1a5fec7e85 -f nrt1 
        - sleep 120
        - packet-cli device get -p 454b8b42-33d3-4e7e-8acf-1d1a5fec7e85 | grep $CLUSTER_NAME | awk '{print $2}'
        - CLUSTER-ID=`packet-cli device get -p 454b8b42-33d3-4e7e-8acf-1d1a5fec7e85 | grep $CLUSTER_NAME | awk '{print $2}'`
        - echo " clsuter id is $CLUSTER-ID"
        - CLUSTER-IP=`packet-cli device get -i $CLUSTER-ID | grep "\- address:" | head -1 |awk '{print $3}'`
        - ssh -p 22 -o StrictHostKeyChecking=no root@$CLUSTER-IP
        - kubectl config view
        - kubectl config current-context
        - kubectl get nodes -o wide
        - kubectl create clusterrolebinding cluster-admin-binding --clusterrole=cluster-admin --user=$GOOGLE_SERVICE_ACCOUNT
        # Install Helm Tiller
        - kubectl create serviceaccount --namespace kube-system tiller
        - kubectl create clusterrolebinding tiller-cluster-rule --clusterrole=cluster-admin --serviceaccount=kube-system:tiller
        - helm init --service-account tiller --wait
        # Install NFS provisioner
        - helm install stable/nfs-server-provisioner
        - kubectl -n default create -f test/e2e/resources/tier2.yaml
        - JSONPATH='{.status.phase}'; until kubectl get pvc pravega-tier2 -o jsonpath="$JSONPATH" 2>&1 | grep -q "Bound"; do sleep 1; done
        # Install ZooKeeper
        - kubectl -n default create -f test/e2e/resources/zookeeper.yaml
        - JSONPATH1='{.spec.replicas}'; JSONPATH2='{.status.readyReplicas}'; replicas=$(kubectl get zookeepercluster zk -o jsonpath=$JSONPATH1);ready=$(kubectl get zookeepercluster zk -o jsonpath=$JSONPATH2); echo "REPLICAS=$replicas, READY=$ready"; while [ "$replicas" != "$ready" ]; do sleep 5s; replicas=$(kubectl get zookeepercluster zk -o jsonpath=$JSONPATH1);ready=$(kubectl get zookeepercluster zk -o jsonpath=$JSONPATH2); echo "REPLICAS=$replicas, READY=$ready"; done
        # Install Bookkeeper
        - kubectl -n default create -f test/e2e/resources/bookkeeper.yaml
        - sleep 30s
        - kubectl -n default create -f test/e2e/resources/bk-version-map.yaml
        - kubectl -n default create -f test/e2e/resources/bk-config-map.yaml
        - kubectl -n default create -f test/e2e/resources/bk-cluster.yaml
        - JPATH1='{.spec.replicas}'; JPATH2='{.status.readyReplicas}'; bk_replicas=$(kubectl get bookkeepercluster pravega -o jsonpath=$JPATH1);bk_ready=$(kubectl get bookkeepercluster pravega -o jsonpath=$JPATH2); echo "REPLICAS=$bk_replicas, READY=$bk_ready"; while [ "$bk_replicas" != "$bk_ready" ]; do sleep 1; bk_replicas=$(kubectl get bookkeepercluster pravega -o jsonpath=$JPATH1); bk_ready=$(kubectl get bookkeepercluster pravega -o jsonpath=$JPATH2); echo "REPLICAS=$bk_replicas, READY=$bk_ready"; done
        # Install the ConfigMap for version dependency
        - kubectl -n default create -f deploy/version_map.yaml
        - kubectl apply -f "https://github.com/jetstack/cert-manager/releases/download/v0.14.1/cert-manager.crds.yaml"
        - helm repo add jetstack https://charts.jetstack.io
        - helm repo update
        - helm install --name cert-manager  --namespace cert-manager  --version v0.14.1  jetstack/cert-manager --wait
        - kubectl create -f deploy/certificate.yaml
        - kubectl create -f deploy/webhook.yaml
        - kubectl create -f test/e2e/resources/crd.yaml
        # Show Pravega dependencies
        - kubectl -n default get pod,pvc,svc -o wide
      script:
        # ping stdout every 5 minutes or Travis kills build
        # ref: https://docs.travis-ci.com/user/common-build-problems/#build-times-out-because-no-output-was-received
        - while sleep 5m; do kubectl get pods; done &
        - make test-e2e
        # kill background echo loop
        - echo "killing while sleep loop" && kill %1
      after_script:
        - eksctl delete cluster --name $CLUSTER_NAME

    - stage: deploy
      name: Push Docker image
      if: type != pull_request AND tag IS present
      services:
        - docker
      script:
        - make push

notifications:
  slack:
    rooms:
      secure: Gv0RJx1Sa/y5fmvLNwY+2ivfWZYCM0ekrr6UAHqsegnid6P/DFZrSrfSpwvcVh2OVNH8DHLV0BoiuDJ7amtl1eMDMXz5/lLz8tFWFKaHv4yDSadm8ILY/KnYUoP4IRuM3NyKQmBrmZB9Or5KFXboG6ex6UkgbuYy0Zyl6syEe168Iw8hlCRx26Jei7/y+8eE2MIGFh09TLRZ/944YbULum9H3KQLYv8nFdPc7GmR5AK461fnwZ7iYjb7MXkCctE5Vml3p9+2Qliv1ZJqNsQeKmSFW6IhiP6pNZ1V8VJEWMQmX/nBr9745l/N+CoLQz9ajLonlxn9xHdWms4TEu1ynFk6uxEJjlcpXcvcEaKhqAKcTMl0GMMRab2m+/Vt3S/VutJnVXQmnhZGT9glLFQHwcdHNqM/LEbXtyisB7zmGImUQpF2InCwO25IXug5gv64IfOHGMzL56yNIhbRgBY9Ud4Tux+pmkV5ZxJiBkul7/FiHQX7tQLUrzQosD0oyCOmaWD7kmbt15A0TOkLgup4HE+sSS1ASwisa7J2+HsbI3Upy3rNVKuIJP0L4KSTn4HSlDlMLLcWM+nz/YCEfuwSRXJTIstotNYHdsLUZAZSYAX7ejpeiuBRed4a4AlCROeKbKKwCcSvqCOjmCaPTpwJAGeJByOXLL2hfQzpDMKCIKM=
