apiVersion: "bookkeeper.pravega.io/v1alpha1"
kind: "BookkeeperCluster"
metadata:
  name: "pravega-bk"
replicas: 3
image:
  repository: pravega/bookkeeper
  pullPolicy: IfNotPresent
version: 0.7.0
pravegaClusterName: pravega
zookeeperUri: zookeeper-client:2181
autoRecovery: true
